:root{
    color-scheme: light dark;
}

html{
    font-family: Century Gothic;
}

body{
    margin: 0;
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    row-gap: 2em;
}

section{
    min-height: 60%;
    min-width: 15%;
    max-width: 286px;
    max-height: 648px;
    background-color: rgb(237, 237, 255);
    display: grid;
    grid-template-rows: auto min-content;
    border-radius: 10px;
}

#form{
    align-self: end;
    margin: 10px 0 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 0.3em;
}

#input{
    border-radius: 10px;
    padding: 2.5px;
}

#input:focus{
    outline: 0;
}

#button{
    background-color: #09f;
    color: fff;
    border: 0;
    border-radius: 5px;
}

#messages{
    color: black;
    list-style-type: none;
    padding: 0;
    padding: 0.5rem 1rem;
    overflow-y: scroll;
}

#messages li:nth-child(odd){
    background-color: #a7a7a7;
}